# Môi trường hoạt động
NODE_ENV=development

# Cấu hình API DNC
API_URL=https://nospam.vncert.vn/api/v1

# Cấu hình port
PORT=5000

# Cấu hình môi trường hoạt động
DNC_ENVIRONMENT=live

# Cấu hình thời gian chờ kết nối hệ thống
DNC_TIMEOUT_MS=15000

# Đường dẫn Private key
PRIVATE_KEY_PATH=path/to/private_key.pem

# Cấu hình thông tin mã người dùng
CLIENT-ID=client_id
SECRET-KEY=secret_key
PARTNER-CODE=partner_code

# Chữ ký gắn vào body các API yêu cầu signature
SIGNATURE=
